
dealmanager/\.settings/

dealmanager/\.project

dealmanager/dealmanager-ear/\.settings/

dealmanager/dealmanager-ear/\.project

dealmanager/dealmanager-ejb/\.settings/

dealmanager/dealmanager-ejb/\.classpath

dealmanager/dealmanager-ejb/\.project

dealmanager/dealmanager-jpa/\.settings/

dealmanager/dealmanager-jpa/\.project

dealmanager/dealmanager-jpa/\.classpath

dealmanager/dealmanager-web/\.settings/

dealmanager/dealmanager-web/\.classpath

dealmanager/dealmanager-web/\.project

dealmanager/dealmanager-web/\.metadata/
